<?xml version="1.0" encoding="utf-8" ?>

<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<add key="PersistenceTechnology" value="SQLite"/>
		<add key="DefaultCulture" value="es" />
	</appSettings>
	<connectionStrings>
		<add name="SQLiteConnection"
             connectionString="Data Source=LocalData/SQLite.db"
             providerName="System.Data.SQLite" />
		<add name="LiteDbConnection"
             connectionString="LocalData/LiteDB.db"
             providerName="LiteDB" />
	</connectionStrings>
</configuration>
