<?xml version="1.0" encoding="utf-8" ?>

<configuration>

	<appSettings>
		<add key="PersistenceTechnology" value="XML"/>
		<add key="DefaultCulture" value="en" />
	</appSettings>

	<connectionStrings>
		<add name="SQLiteBusinessConnection"
			 connectionString="Data Source=LocalData/SQLite.db"
			 providerName="System.Data.SQLite" />

		<add name="LiteDbBusinessConnection"
			 connectionString="LocalData/LiteDB.db"
			 providerName="LiteDB" />

		<add name="LiteDbLogConnection"
			 connectionString="LocalData/LogEntry.db"
			 providerName="LiteDB" />
	</connectionStrings>

</configuration>
